<a href="https://colab.research.google.com/github/nichakornchaisuwan/data_viz_2022/blob/main/Basic_Programming_Concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Function($f(x) = y $)

```python
def function_name(input_x) :
     # do something with input_x to get output_y
     return output_y
```
def เป็นการบอกว่าจะสร้าง function

$f_1(x) = x^2 + 75$

In [1]:
def function_f1(x): #name, input
    a =x**2      #process
    y = a + 75   
    return y     #output
print('done!')

done!

In [2]:
function_f1(3) # แทนค่า x

84

function มีส่วนสำคัญทั้งหมด 4 ส่วน

1. บอก python ว่าเราจะเขียนฟังก์ชั่น ชื่ออะไร `def function_name()`: (ขาดไม่ได้)
2. กำหนดตัวแปรที่จะเป็น input Input (ขาดได้)
3. ส่วนประมวลผล do_something with Input to get Output (ขาดไม่ได้)
4. ส่วน output `return` Output(ขาดได้)

### ตัวอย่าง function ที่มีส่วนประกอบ

In [3]:
def function_f1(x): #name, input
    a =x**2      #process
    y = a + 75   
    return y     #output

###ตัวอย่าง function ที่ไม่มี input

In [4]:
def pi_v():
    y = 3.14159
    return y

In [5]:
piv = pi_v()
circle_area_r2 = piv*(2**2)
print (circle_area_r2)

12.56636

### ตัวอย่าง function ไม่มี  process ไม่ได้

In [6]:
def function_a(): #name, input

SyntaxError: ignored

### ตัวอย่าง function ที่ไม่มี output

In [38]:
def print_name_id(name,id):
    print (f'ชื่อ {name} รหัสประจำตัว {id}')

In [39]:
print_name_id('ณิชากร','ุ623020521-8')

ชื่อ ณิชากร รหัสประจำตัว ุ623020521-8

In [40]:
a = print_name_id('ณิชากร','ุ623020521-8')

ชื่อ ณิชากร รหัสประจำตัว ุ623020521-8

In [41]:
a

ตัวอย่าง function `Print`

In [42]:
print('ณิชากร')
print ('623020521-8')

ณิชากร
623020521-8

In [43]:
print('ณิชากร',end='->')
print ('623020521-8')

ณิชากร->623020521-8

In [44]:
print('ณิชากร','623020521-8')

ณิชากร 623020521-8

In [45]:
print('ณิชากร','623020521-8',sep='&')

ณิชากร&623020521-8

## input ของ function แบ่งเป็น 2 ชนิด (จำเป็นต้องใส่ กับ ไม่จำเป็นต้องใส่)

ตัวอย่าง function `print_grade()`มี input 3 ตัว จำเป็นต้องใส่ 2 ตัว คือ name id และไม่จำเป็นต้องใส่ 1 ตัว คือเกรด ซึ่งมีค่า default เป็น A

In [46]:
def print_grade(name,id,grade = 'A'):
    print(f'รหัสประจำตัว {id} ชื่อ {name}')
    print (f'ได้เกรด {grade}')

In [47]:
print_grade('ณิชากร','623020521-8')

รหัสประจำตัว 623020521-8 ชื่อ ณิชากร
ได้เกรด A

In [48]:
print_grade('ณิชากร','623020521-8','A+')

รหัสประจำตัว 623020521-8 ชื่อ ณิชากร
ได้เกรด A+

In [49]:
print_grade(id='623020521-8',name='ณิชากร',grade='B+')

รหัสประจำตัว 623020521-8 ชื่อ ณิชากร
ได้เกรด B+

#Looping (for)

```python
for member in listEx:
    do_something()
```

In [50]:
for member in [1,2,3,4,5,6]: #list สำคัญ
    print(member)

1
2
3
4
5
6

In [51]:
def print_name(name):
    print(f'ฉันชื่อ {name} ')

In [52]:
for name in ['วัชราภรณ์','จุฑากาญจน์','ชลธิชา','ญาดา','กิตติคุณ']:
    N = name
    print_name(N)

ฉันชื่อ วัชราภรณ์
ฉันชื่อ จุฑากาญจน์
ฉันชื่อ ชลธิชา
ฉันชื่อ ญาดา
ฉันชื่อ กิตติคุณ

In [53]:
list_name_id_grade = [['นางสาวณิชากร ไชยสุวรรณ','623020521-8','A'],
                      ['นางสาวกิตติมา อุปสุข','623021040-9','B'],
                      ['นางสาวภิญญาดา เพ็ญสุข','623021052-2','B+']]

In [54]:
for each in list_name_id_grade:
    name = each[0]
    id = each[1]
    grade = each[2]
    print_grade(name,id,grade)
    print('-----------------')

รหัสประจำตัว 623020521-8 ชื่อ นางสาวณิชากร ไชยสุวรรณ
ได้เกรด A
-----------------
รหัสประจำตัว 623021040-9 ชื่อ นางสาวกิตติมา อุปสุข
ได้เกรด B
-----------------
รหัสประจำตัว 623021052-2 ชื่อ นางสาวภิญญาดา เพ็ญสุข
ได้เกรด B+
-----------------

###ใช้ for  loop เพิ่มสมาชิกใน list

In [55]:
list_name = [] #สร้าง list มารับ
list_id =[]
list_grade = []
for each in list_name_id_grade: 
    list_name.append(each[0]) # เพิ่มสมาชิกตัวที่ 0 เข้าไปที่ list_name จาก list_name_id_grade
    list_id.append(each[1])
    list_grade.append(each[2])

In [56]:
list_name

['นางสาวณิชากร ไชยสุวรรณ', 'นางสาวกิตติมา อุปสุข', 'นางสาวภิญญาดา เพ็ญสุข']

### การวนลูปด้วย `range()`

In [57]:
for i in range(100):
    print('งง',end = ' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

###Loop ซ้อน Loop

In [58]:
for mem1 in range(2,5): # [2,3,4]
    print(f'now mem1 = {mem1}')
    for mem2 in range (1,13): #[1,2,3,4,5,6,7,8,9,10,11,12]
        print(f'{mem1} x {mem2} = {mem1*mem2}')
    print(f'end inner for mem1 = {mem1}')

now mem1 = 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24
end inner for mem1 = 2
now mem1 = 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36
end inner for mem1 = 3
now mem1 = 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48
end inner for mem1 = 4

###Loop in Function

In [59]:
def  print_grade_loop(names,grades):
    for n,g in zip(names,grades):
        print(f'{n} ได้เกรด {g}')

In [60]:
print_grade_loop(list_name,list_grade)

นางสาวณิชากร ไชยสุวรรณ ได้เกรด A
นางสาวกิตติมา อุปสุข ได้เกรด B
นางสาวภิญญาดา เพ็ญสุข ได้เกรด B+

#Conditional Statement (if)

```python
if condition1:
    do_something() #ถ้า condition1 เป็นจริง ทำ do_something()
elif condition2:
    do_another_thing() #ถ้า condition1 ไม่เป็นจริงแต่ condition2 เป็นจริง ทำ do_another_thing()
else:
    do_the_last_thing() # ถ้าไม่มี condotion ไหนเป็นจริงเลย ทำ do_the_last_thing()
```

In [61]:
for n in list_name:
    if len(n)>20:
        print(f'{n} ได้เกรด A')
    else:
        print(f'{n} ได้เกรด F')

นางสาวณิชากร ไชยสุวรรณ ได้เกรด A
นางสาวกิตติมา อุปสุข ได้เกรด F
นางสาวภิญญาดา เพ็ญสุข ได้เกรด A

###operator ที่ใช้ตรวจสอบ condition

==, !=, >=,<=,<,>,and,or

In [62]:
a= 10==20
print(a)

False

In [63]:
b= 15<=20
print(b)

True

In [64]:
if a:
    print('x')

In [65]:
if True:
    print('x')

x

In [66]:
if a and b:
    print('x')

In [67]:
if a or b :
    print('x')

x

#HW

เขียน function ตัดเกรด โดยที่ input  เป็นคะแนน(0-100) , output เป็นเกรด (F-A) หรือ 'ไม่สามารถตัดเกรดได้'
วนลูป ตัดเกรด input = [1,50,65,90,101,-5,49,'ก',80]

กำหนด
* ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 0 แต่น้อยกว่า 50 จะได้เกรด F
* ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
* ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
* ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
* ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
* ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
* ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+
* ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80 จะได้เกรด A
* ถ้าคะแนนไม่อยู่ในช่วง 0-100 ให้ return 'ไม่สามารถตัดเกรดได้'

In [70]:
score = [1,50,65,90,101,-5,49,'ก',80]
for i in score :
    if type(i) == type(''):
        print(f'คะแนนคือ {i}  ไม่สามารถตัดเกรดได้')
    else:  
        if i >= 101:
            print(f'คะแนนคือ {i} ไม่สามารถตัดเกรดได้')
        elif i >= 80 :
            print(f'คะแนนคือ {i} คะแนน ได้เกรด A')
        elif i >= 75 :
            print(f'คะแนนคือ {i} คะแนน ได้เกรด B+')
        elif i >= 70 :
            print(f'คะแนนคือ {i} คะแนน ได้เกรด B')
        elif i >=65 :
            print(f'คะแนนคือ {i} คะแนน ได้เกรด C+')
        elif i >=60 :
            print(f'คะแนนคือ {i} คะแนน ได้เกรด C')
        elif i >=55 :
            print(f'คะแนนคือ {i} คะแนน ได้เกรด D+')
        elif i >=50 :
            print(f'คะแนนคือ {i} คะแนน ได้เกรด D')
        elif i >=0 :
            print(f'คะแนนคือ {i} คะแนน ได้เกรด F')
        else :
            print(f'คะแนนคือ {i} ไม่สามารถตัดเกรดได้')

คะแนนคือ 1 คะแนน ได้เกรด F
คะแนนคือ 50 คะแนน ได้เกรด D
คะแนนคือ 65 คะแนน ได้เกรด C+
คะแนนคือ 90 คะแนน ได้เกรด A
คะแนนคือ 101 ไม่สามารถตัดเกรดได้
คะแนนคือ -5 ไม่สามารถตัดเกรดได้
คะแนนคือ 49 คะแนน ได้เกรด F
คะแนนคือ ก  ไม่สามารถตัดเกรดได้
คะแนนคือ 80 คะแนน ได้เกรด A